always-auth = true
@itpsolver:registry=https://npm.pkg.github.com/
registry=https://npm.pkg.github.com/@YOURUSERNAME
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org/
